<div ng-controller="rebootCtrl">
    <div ng-class="{nopHint: model.images.length === 0}">
        <div class="page-title-container">
            <div class="page-title" ng-bind="DICT('Reboot')"></div>
            <div class="page-button-container">
                <button type="button" id="btn_reboot" ng-disabled="userAccessFlag === 'RO'" ng-click="funs.rebootConfirm()">
                    <span ng-bind="DICT('Reboot')"></span>
                </button>
            </div>
        </div>
        <div class="page-content-container">
            <div>
                <span ng-bind="DICT('Reboot_Active_Image_After_Reboot')"></span>
                <select id="slct_image" ng-model="sel_image" ng-options="m.id as m.displayName for m in model.images"></select>
            </div>
            <div>
                <input type="radio" id="rdo_reboot" ng-model="reboot_opt" value="none">
                <span ng-bind="DICT('Reboot_Reboot_Device')"></span>
                </input>
            </div>
            <div>
                <input type="radio" id="rdo_resetodef" ng-model="reboot_opt" value="factory-default-config">
                <span ng-bind="DICT('Reboot_Reboot_Device_Factory')"></span>
                </input>
            </div>
            <div>
                <input type="radio" id="rdo_resetodefincertificates" ng-model="reboot_opt" value="factory-default-config-certificate">
                <span ng-bind="DICT('Reboot_Reboot_Device_Factory_Cert')"></span>
                </input>
            </div>
        </div>
    <div>
</div>
