<span class="messages" ng-if="loadReady">
	<span ng-message="required">An empty value is invalid</span>
	<span ng-message="minlength">Too short</span>
	<span ng-message="maxlength">Too long</span>
	<span ng-message="max">Too Large, Out of Range</span>
	<span ng-message="min">Too Small, Out of Range</span>
	<span ng-message="number">Not a Number</span>
	<span ng-message="email">Invalid email address</span>
	<span ng-message="compareTo">Must match the previous entry</span>
	<span ng-message="hostName">Invalid Host Name</span>
	<span ng-message="domainName">Invalid Domain Name</span>
	<span ng-message="ipv4Ip">Invalid IPv4 Address</span>
	<span ng-message="ipv4Netmask">Invalid IPv4 Netmask</span>
	<span ng-message="domainName && ipv4Ip">Invalid IPv4/Domain Name</span>
	<span ng-message="fqdnIpv4">Invalid IPv4 Address/Host Name</span>
	<span ng-message="ipv6Ip">Invalid IPv6 Address</span>
	<span ng-message="bitMask">Invalid Bitmask</span>
	<span ng-message="ip">Invalid IP Address</span>
	<span ng-message="fqdn">Invalid DNS</span>
	<span ng-message="password">Invalid Password</span>
	<span ng-message="url">Invalid URL(http(s):// )</span>
	<span ng-message="contains">This value are already used</span>
	<span ng-message="compareIpRangeInlandhcp">Invalid IP Range</span>
	<span ng-message="compareIpRangeInfirewall">Invalid IP Range</span>
	<span ng-message="compareIpRangeBytype">Invalid IP Range</span>
	<span ng-message="compareIpRange">Invalid IP Range</span>
</span>
