# Policy file for PnP Discovery
#
# This file is responsible for configuring the sequence of discovery mechanisms
# used during PnP Discovery. The wait time between each discovery cycle can
# also be specified here.
#
# Discovery Mechanisms Available are:
#
#       dhcp_ipv4               Use DHCPv4 Option 43 based discovery over IPv4
#       dns_ipv4                Use DNS based discovery over IPv4 (Requires DHCPv4 Option domain-name)
#       cco_ipv4                Use Cisco Cloud (CCO) Redirection discovery over IPv4
#
# Enter the sequence of discovery mechanisms (minimum of 1) separated by commas.
# Each mechanism can be used 0 or more times.
# On a new line enter the wait time in seconds.
# NOTE: Decreasing the wait time will increase the network load.
#
# Example 1:
# dhcp_ipv4, dns_ipv4, dhcp_ipv4, cco_ipv4
# 10
#
# Example 2:
# dns_ipv4, dhcp_ipv4
# 15
#
# Example 3:
# cco_ipv4
# 1
#
# Default:
# dhcp_ipv4, dns_ipv4, cco_ipv4
# 60

#dhcp_ipv4, dhcp_ipv6, dns_ipv4, dns_ipv6, reference_discovery, cco_ipv4, cco_ipv6
#60
dhcp_ipv4, dns_ipv4, cco_ipv4
60
