<form name="teleworkerform" ng-controller="teleworkerVPNCtrl" ng-modification="dataReady" id="teleworker-vpn">
    <div ng-if="dataReady">
        <!-- Main Page -->
        <div ng-show="currPage === 'main'">
            <div class="page-title-container">
                <div class="page-title" ng-bind="DICT('Teleworker_VPN_Client')"></div>
                <div class="page-button-container">
                    <button type="button" class="btn-apply" id="btn_mainsave" ng-disabled="teleworkerform.$invalid || userAccessFlag === 'RO'" ng-click="funs.main.save()">
                        <span ng-bind="DICT('Teleworker_VPN_Client_Apply')"></span></button>
                    <button type="button" class="btn-cancel" id="btn_maincancel" ng-click="funs.main.cancel()">
                        <span ng-bind="DICT('Teleworker_VPN_Client_Cancel')"></span></button>
                </div>
            </div>
			<confirmsave ng-show="success"></confirmsave>
            <div class="page-content-container" ng-cloak>
                <message-box class="page-note-cntr" ng-if="!model.ipsec_enable">
                    <table>
                        <tr>
                            <td class="align-top">
                                <i class="icon-warning message-icon"></i>
                            </td>
                            <td>
                                <span pg-bind-html="ipsecprofile_note"></span>
                            </td>
                        </tr>
                    </table>
                </message-box>
                <table class="page-block-tb-list control-input-200">
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client')+':'"></td>
                        <td>
                            <input type="radio" id="rdo_tvcon" ng-model="model.enable" ng-value="true" ng-change="changeEnable()">
								<span ng-bind="DICT('Teleworker_VPN_Client_On')"></span></input>
                            <input type="radio" id="rdo_tvcoff" ng-model="model.enable" ng-value="false" ng-change="changeEnable()">
								<span ng-bind="DICT('Teleworker_VPN_Client_Off')"></span></input>
                        </td>
                    </tr>
                    <tr ng-class="{nopHint: !model.enable}">
                        <td ng-bind="DICT('Teleworker_VPN_Client_Auto_Initiation_Retry')"></td>
                        <td>
                            <input type="radio" id="rdo_airon" 
                                ng-model="model.auto_initiation_retry"
                                ng-value="true"
                                ng-change="funs.main.autoInitRetry()"
                                ng-disabled="!model.enable"
                            >
								<span ng-bind="DICT('Teleworker_VPN_Client_On')"></span></input>
                            <input type="radio" id="rdo_airoff"
                                ng-model="model.auto_initiation_retry"
                                ng-value="false"
                                ng-change="funs.main.autoInitRetry()"
                                ng-disabled="!model.enable"
                            >
								<span ng-bind="DICT('Teleworker_VPN_Client_Off')"></span></input>
                        </td>
                    </tr>
                    <tr ng-class="{nopHint: !model.enable}">
                        <td ng-bind="DICT('Teleworker_VPN_Client_Retry_Interval')"></td>
                        <td>
                            <input type="number" number id="slct_retryinterval"
                                ng-disabled="model.auto_initiation_retry == false || !model.enable"
                                ng-model="model.retry_interval"
                                min="120"
                                max="1800"
                                required
                            ></input>
                            <span class="tip-info" ng-bind="DICT('Teleworker_VPN_Client_Interval_Range')"></span>
                        </td>
                    </tr>
                    <tr ng-class="{nopHint: !model.enable}">
                        <td ng-bind="DICT('Teleworker_VPN_Client_Retry_Limit')"></td>
                        <td>
                            <input type="number" number id="slct_retrylimit"
                                ng-disabled="model.auto_initiation_retry == false || !model.enable"
                                ng-model="model.retry_limit"
                                min="0"
                                max="16"
                                required
                            ></input>
                            <span class="tip-info" ng-bind="DICT('Teleworker_VPN_Client_Limit_Range')"></span>
                        </td>
                    </tr>
                </table>
                <hr class="page-content-seperator"></hr>
                <div class="grid-cntr" ng-class="{nopHint: !model.enable}">
                    <div class="grid-title-cntr">
                        <div class="grid-title" ng-bind="DICT('Teleworker_VPN_Client_S')"></div>
                    </div>
                    <div class="grid-content-cntr">
                        <div class="grid-btn-cntr">
                            <button type="button" id="btn_mainadd" class="grid-btn-add"
                                ng-disabled="userAccessFlag === 'RO' || model.clients.length >= 50 || !model.enable" ng-click="funs.main.add()">
                            </button>
                            <button type="button" id="btn_mainedit" class="grid-btn-edit"
                                ng-disabled="sel_c2s_cnt !== 1 || userAccessFlag === 'RO' || !model.enable" ng-click="funs.main.edit()">
                            </button>
                            <button type="button" id="btn_maindelete" class="grid-btn-delete"
                                ng-disabled="sel_c2s_cnt <= 0 || userAccessFlag === 'RO' || !model.enable" ng-click="funs.main.del()">
                            </button>
                            <button type="button" id="btn_mainconnect" class="grid-btn-connect"
                                ng-disabled="sel_c2s_cnt !== 1 || userAccessFlag === 'RO' || model.state_step !== 'done' || selOPAble !== 'down' || !model.enable"
                                ng-click="funs.main.connect()"
                            ></button>
                            <button type="button" id="btn_maindisconnect" class="grid-btn-disconnect"
                                ng-disabled="sel_c2s_cnt !== 1 || userAccessFlag === 'RO' || model.state_step !== 'done' || (selOPAble !== 'up' && selOPAble !== 'connecting') || !model.enable"
                                ng-click="funs.main.disconnect()"
                            ></button>
                        </div>
                        <div class="grid-content" ui-grid-resize-columns ui-grid-auto-resize ui-grid="gridTeleworkerOptions"></div>
                    </div>
                </div>
            </div> <!-- End main table page-content-container -->
        </div>
        <!-- End Main Page -->
        <!-- Edit Page -->
        <div ng-show="currPage === 'edit'" ng-if="currPage === 'edit'">
            <div class="page-title-container">
                <div class="page-title" ng-bind="DICT('Teleworker_VPN_Client_Add_Edit')"></div>
                <div class="page-button-container">
                    <button type="button" class="btn-apply" id="btn_editsave" ng-disabled="teleworkerform.$invalid || userAccessFlag === 'RO'" ng-click="funs.edit.save()">
                        <span ng-bind="DICT('Teleworker_VPN_Client_Apply')"></span></button>
                    <button type="button" class="btn-cancel" id="btn_editcancel" ng-click="funs.edit.cancel()">
                        <span ng-bind="DICT('Teleworker_VPN_Client_Cancel')"></span></button>
                </div>
            </div>
            <div class="page-content-container" ng-cloak>
                <div class="page-block-title-cntr">
                    <div class="page-block-title" ng-bind="DICT('Teleworker_VPN_Client_Basic_Settings')"></div>
                </div>
                <table class="page-block-tb-list teleworker-tb-list control-input-200">
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Name')"></td>
                        <td>
                            <input type="text" id="txt_basicname" name="name" ng-model="edit.name"
                                ng-maxlength="40"
                                ng-change="change_name()"
                                ng-disabled="orig !== undefined"
                                str-name
                                required>
                            </input>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Server')"></td>
                        <td>
                            <input type="text" id="txt_basicserver" required fqdn-ipv4 name="server" ng-model="edit.server"></input>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Active_Startup')"></td>
                        <td>
                            <input type="radio" id="rdo_basicacoson" ng-model="edit.startup" ng-value="true">
								<span ng-bind="DICT('Teleworker_VPN_Client_On')"></span>
                            </input>
                            <input type="radio" id="rdo_basicacosoff" ng-model="edit.startup" ng-value="false">
								<span ng-bind="DICT('Teleworker_VPN_Client_Off')"></span>
                            </input>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_IKE_Authentication_Method')"></td>
                        <td>
                            <input type="radio" id="rdo_basicpresharedkey" ng-model="edit.auth_type" value="preshare">
								<span ng-bind="DICT('Teleworker_VPN_Client_Pre_Shared_Key')"></span></input>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="psk-indent" ng-class="{nopHint: edit.auth_type !== 'preshare'}">
                            <span class="psk-sub-title" ng-bind="DICT('Teleworker_VPN_Client_Group_Name')"></span>
                            <input type="text" id="txt_basicgroupname" ng-required="edit.auth_type === 'preshare'" maxlength="64" ng-model="edit.group_name"></input>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="psk-indent" ng-class="{nopHint: edit.auth_type !== 'preshare'}">
                            <span class="psk-sub-title" ng-bind="DICT('Teleworker_VPN_Client_Password')"></span>
                            <input type="password"
								   id="txt_basicpassword"
								   ng-required="edit.auth_type === 'preshare'"
								   ng-password="edit.auth_type === 'preshare'"
								   select-when-focus
		   						   maxlength="64"
								   ng-maxlength="64"
		   						   ng-change="change_pwd()"
								   ng-model="edit.password"
							></input>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td ng-class="{nopHint: model.certs.length === 0}">
                            <span class="sub-title">
                                <input type="radio" id="rdo_basiccertificate" ng-model="edit.auth_type" value="cert"></input>
                                <span ng-bind="DICT('Teleworker_VPN_Client_Certificate')"></span>
                            </span>
                            <select id="slct_basiccertificate" ng-model="edit.certificate"
                                style="margin-left: 33px"
                                ng-disabled="edit.auth_type !== 'cert'"
                                ng-options="m.id as m.displayName for m in model.certs">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Mode')"></td>
                        <td>
                            <input type="radio" id="rdo_basicmodeclient" ng-model="edit.mode" value="client">
								<span ng-bind="DICT('Teleworker_VPN_Client_Client')"></span>
                            </input>
                            <input type="radio" id="rdo_basicmodenem" ng-model="edit.mode" value="nem">
								<span ng-bind="DICT('Teleworker_VPN_Client_NEM')"></span>
                            </input>
                        </td>
                    </tr>
                    <tr ng-class="{nopHint: edit.mode === 'client'}">
                        <td ng-bind="DICT('Teleworker_VPN_Client_VLAN')"></td>
                        <td>
                            <select id="slct_basicvlan" ng-model="edit.vlan" ng-options="m.id as m.displayName for m in model.vlans"></select>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_User_Name')"></td>
                        <td>
                            <input type="text" id="txt_basicusername" str-name maxlength="64" ng-model="edit.user_name" required></input>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_User_Password')"></td>
                        <td>
                            <input type="password" id="txt_basicuserpwd" password
                                name="user_password"
								select-when-focus
                                ng-model="edit.user_password"
                                ng-change="change_user_pwd()"
                                required>
                            </input>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Confirm_User_Password')"></td>
                        <td>
                            <input type="password" id="txt_basicconfirmuserpwd"
                                name="user_confirm"
								select-when-focus
                                ng-model="edit.confirm_user_password"
                                ng-change="change_confirm_user_pwd()" 
                                required>
                            </input>
                        </td>
                    </tr>
                </table>
                <hr class="page-content-seperator"></hr>
                <div class="page-block-title-cntr">
                    <div class="page-block-title" ng-bind="DICT('Teleworker_VPN_Client_Advanced_Settings')"></div>
                </div>
                <table class="page-block-tb-list teleworker-tb-list control-input-200">
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Backup_Server1')"></td>
                        <td>
                            <input type="text" id="txt_basicbackupserver1" fqdn-ipv4 ng-model="edit.backup_server_1"></input>
                        </td>
                        <td>
                            <span class="tip-info" ng-bind="DICT('Teleworker_VPN_Client_Hint')"></span>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Backup_Server2')"></td>
                        <td>
                            <input type="text" id="txt_basicbackupserver2" fqdn-ipv4 ng-model="edit.backup_server_2"></input>
                        </td>
                        <td>
                            <span class="tip-info" ng-bind="DICT('Teleworker_VPN_Client_Hint')"></span>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Backup_Server3')"></td>
                        <td>
                            <input type="text" id="txt_basicbackupserver3" fqdn-ipv4 ng-model="edit.backup_server_3"></input>
                        </td>
                        <td>
                            <span class="tip-info" ng-bind="DICT('Teleworker_VPN_Client_Hint')"></span>
                        </td>
                    </tr>
                    <tr>
                        <td ng-bind="DICT('Teleworker_VPN_Client_Peer_Timeout')"></td>
                        <td>
                            <input type="number" number id="slct_basicpeertimeout" ng-model="edit.peer_timeout" min="30" max="480" required></input>
                        </td>
                        <td>
                            <span class="tip-info" ng-bind="DICT('Teleworker_VPN_Client_Timeout_Range')"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- End Edit Page -->
    </div> <!-- End dataReady -->
</form>
