<form ng-controller="IpsCtrl" name="ips_form" ng-modification="ui_data.data_ready" id="ips">
    <div ng-if="ui_data.data_ready">
        <div class="page-title-container">
            <div class="page-title" ng-bind="DICT('Ips_Intrusion_Prevention_System')"></div>
            <div class='page-button-container'>
                <button type="button" class="btn-apply" id="btn_save" ng-click="funs.save()" ng-disabled="ips_form.$invalid || userAccessRight === 'RO' || model.no_license">
                    <span ng-bind="DICT('Ips_Apply')"></span>
                </button>
                <button type="button" class="btn-cancel" id="btn_cancel" ng-click="funs.cancel()" ng-disabled="model.no_license">
                    <span ng-bind="DICT('Ips_Cancel')"></span>
                </button>
            </div>
        </div>
        <confirmsave ng-show="success"></confirmsave>
        <div class="page-content-container">
            <div class="page-content">
                <message-box ng-if="model.no_license">
                    <table>
                        <tr>
                            <td class="align-top">
                                <i class="icon-warning message-icon"></i>
                            </td>
                            <td>
                                <span pg-bind-html="ui_data.combineNote"></span>
                            </td>
                        </tr>
                    </table>
                </message-box>
                <div ng-class="{'nopHint': model.no_license}">
                    <table class="page-block-tb-list ips-config">
                        <tr>
                            <td ng-bind="DICT('Ips_Intrusion_Prevention_System_colon')"></td>
                            <td>
                                <input type="radio" ng-model="model.enabled" ng-value="true"></input>
                                <span ng-bind="DICT('Ips_On')"></span>
                                <input type="radio" ng-model="model.enabled" ng-value="false"></input>
                                <span ng-bind="DICT('Ips_Off')"></span>
                            </td>
                        </tr>
                        <tr>
                            <td ng-bind="DICT('Ips_Mode')"></td>
                            <td>
                                <input type="radio" ng-model="model.mode" value="prevention"></input>
                                <span ng-bind="DICT('Ips_Block_Attacks')"></span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="radio" ng-model="model.mode" value="detection"></input>
                                <span ng-bind="DICT('Ips_Log_Only')"></span>
                            </td>
                        </tr>
                        <tr>
                            <td ng-bind="DICT('Ips_Ips_Security_Level')"></td>
                            <td>
                                <input type="radio" ng-model="model.level" value="connectivity"></input>
                                <span ng-bind="DICT('Ips_Connectivity')"></span>
                                <info-icon context="DICT('Ips_Note_Connectivity')"></info-icon>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="radio" ng-model="model.level" value="balanced"></input>
                                <span ng-bind="DICT('Ips_Balanced')"></span>
                                <info-icon context="DICT('Ips_Note_Balanced')"></info-icon>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="radio" ng-model="model.level" value="security"></input>
                                <span ng-bind="DICT('Ips_Security')"></span>
                                <info-icon context="DICT('Ips_Note_Security')"></info-icon>
                            </td>
                        </tr>
                    </table>
                    <!--            <table class="page-block-tb-list ips-zone">-->
                    <!--                <tr>-->
                    <!--                    <td colspan="2" ng-bind="DICT('Ips_Zone_to_Scan')"></td>-->
                    <!--                </tr>-->
                    <!--                <tr>-->
                    <!--                    <td></td>-->
                    <!--                    <td>-->
                    <!--                        <input type="checkbox" ng-model="model.zone.LAN"></input>-->
                    <!--                        <span ng-bind="DICT('Ips_Lan')"></span>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--                <tr>-->
                    <!--                    <td></td>-->
                    <!--                    <td>-->
                    <!--                        <input type="checkbox" ng-model="model.zone.DMZ"></input>-->
                    <!--                        <span ng-bind="DICT('Ips_Dmz')"></span>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--                <tr>-->
                    <!--                    <td></td>-->
                    <!--                    <td>-->
                    <!--                        <input type="checkbox" ng-model="model.zone.PRINTERS"></input>-->
                    <!--                        <span ng-bind="DICT('Ips_Printers')"></span>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--                <tr>-->
                    <!--                    <td></td>-->
                    <!--                    <td>-->
                    <!--                        <input type="checkbox" ng-model="model.zone.SMARTHOME"></input>-->
                    <!--                        <span ng-bind="DICT('Ips_SmartHome')"></span>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--                <tr>-->
                    <!--                    <td></td>-->
                    <!--                    <td>-->
                    <!--                        <input type="checkbox" ng-model="model.zone.VLAN100"></input>-->
                    <!--                        <span ng-bind="DICT('Ips_VLAN100')"></span>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--                <tr>-->
                    <!--                    <td></td>-->
                    <!--                    <td>-->
                    <!--                        <input type="checkbox" ng-model="model.zone.GUEST"></input>-->
                    <!--                        <span ng-bind="DICT('Ips_Guest')"></span>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--            </table>-->

                    <div class="page-content-seperator"></div>
                    <div class="page-block-title-cntr">
                        <div class="page-block-title" ng-bind="DICT('Ips_Intrusion_Prevention_System_Signatures')"></div>
                    </div>
                    <table class="page-block-tb-list">
                        <tr>
                            <td ng-bind="DICT('Ips_Last_Update')"></td>
                            <td ng-bind="model.signature.latest_update_time"></td>
                        </tr>
                        <tr>
                            <td ng-bind="DICT('Ips_File_Version')"></td>
                            <td ng-bind="model.signature.version"></td>
                        </tr>
                        <!--                <tr>-->
                        <!--                    <td></td>-->
                        <!--                    <td class="btns-w-120">-->
                        <!--                        <button type="button" ng-click="funs.check_for_update()">-->
                        <!--                            <span ng-bind="DICT('Ips_Check_For_Update_Now')"></span>-->
                        <!--                        </button>-->
                        <!--                    </td>-->
                        <!--                </tr>-->
                        <!--                <tr>-->
                        <!--                    <td ng-bind="DICT('Ips_Ips_Signature_Database')"></td>-->
                        <!--                    <td class="btns-w-120">-->
                        <!--                        <pg-upload id="slct_pcfile_ips" style="width: 500px;"-->
                        <!--                            ngchange="funs.pcFileFormatCheck"-->
                        <!--                            ng-disabled="userAccessFlag === 'RO'"-->
                        <!--                        ></pg-upload>-->
                        <!--                    </td>-->
                        <!--                </tr>-->
                        <!--                <tr>-->
                        <!--                    <td></td>-->
                        <!--                    <td class="btns-w-120">-->
                        <!--                        <button type="button" ng-click="funs.update()" ng-disabled="ui_data.disable_upgradeBtn">-->
                        <!--                            <span ng-bind="DICT('Anti_Threat_Update')"></span>-->
                        <!--                        </button>-->
                        <!--                    </td>-->
                        <!--                </tr>-->
                        <tr>
                            <td ng-bind="DICT('Ips_Search_By_Ips_Signature_Id')"></td>
                            <td>
                                <input type="text" number ng-model="ui_data.query"></input>
                                <button type="button" ng-click="funs.search()">
                                    <span ng-bind="DICT('Ips_Search')"></span>
                                </button>
                            </td>
                    </table>
                    <div class="grid-cntr">
                        <div class="grid-title-cntr">
                            <div class="grid-title" ng-bind="DICT('Ips_Ips_Signature_Table')"></div>
                        </div>
                        <div class="grid-content-cntr">
                            <div class="grid-content" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid="gridIpsSignatureOption"></div>
                            <div class="ui-grid-pagination-ctrl-cntr">
                                <ui-grid-pagination-op page-idx="ui_data.page_num" ui-grid-option="gridIpsSignatureOption" paging-options="pagingOps"></ui-grid-pagination-op>
                            </div>
                        </div>
                    </div>
                </div> <!-- no_license -->
            </div> <!-- page-content -->
        </div> <!-- page-content-cntr -->
    </div>
</form>

<script type="text/ng-template" id="ips_detail.html">
    <div class="modal-container">
        <div class="modal-header-container">
            <div class="modal-title" ng-bind="DICT('Ips_Selected_Signature')"></div>
        </div>
        <div class="modal-content-container">
            <table class="page-block-tb-list">
                <tr>
                    <td ng-bind="DICT('Ips_Id_Colon')"></td>
                    <td ng-bind="edit.id">
                </tr>
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Affected_Os_Colon')"></td>-->
<!--                    <td ng-bind=""></td>-->
<!--                </tr>-->
                <tr>
                    <td ng-bind="DICT('Ips_Name_Colon')"></td>
                    <td ng-bind="edit.name"></td>
                </tr>
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Alias_Colon')"></td>-->
<!--                    <td ng-bind=""></td>-->
<!--                </tr>-->
                <tr>
                    <td ng-bind="DICT('Ips_Impact_Colon')"></td>
                    <td ng-bind="edit.impact"></td>
                </tr>
                <tr>
                    <td ng-bind="DICT('Ips_Description_Colon')"></td>
                    <td ng-bind="edit.description"></td>
                </tr>
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_False_Positive_Colon')"></td>-->
<!--                    <td ng-bind=""></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_False_Negative_Colon')"></td>-->
<!--                    <td ng-bind=""></td>-->
<!--                </tr>-->
                <tr>
                    <td ng-bind="DICT('Ips_Recommendation_Colon')"></td>
                    <td ng-bind="edit.recommendation"></td>
                </tr>
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Reference_Colon')"></td>-->
<!--                    <td ng-bind="edit.reference"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Authority_Colon')"></td>-->
<!--                    <td ng-bind=""></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Issue_Date_Colon')"></td>-->
<!--                    <td ng-bind="edit.issue_date"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Update_Date_Colon')"></td>-->
<!--                    <td ng-bind="edit.updated_date"></td>-->
<!--                </tr>-->
                <tr>
                    <td ng-bind="DICT('Ips_Category_Colon')"></td>
                    <td ng-bind="edit.category"></td>
                </tr>
<!--                <tr>-->
<!--                    <td ng-bind="DICT('Ips_Behavior_Colon')"></td>-->
<!--                    <td ng-bind=""></td>-->
<!--                </tr>-->
                <tr>
                    <td ng-bind="DICT('Ips_Serverity_Colon')"></td>
                    <td ng-bind="edit.severity"></td>
                </tr>
            </table>
        </div>
        <div class="modal-button-container">
            <button type="button" class="btn-apply" ng-click="cancel()">
                <span ng-bind="DICT('Ips_Cancel')"></span>
            </button>
        </div>
        <button type="button" class="modal-close-btn" ng-click="cancel('close')"></button>
    </div>
</script>
