<div ng-controller='trafficClassesCtrl' id="traffic_class">
    <form name="tcform" ng-modification="dataReady">
        <div ng-if="dataReady">
            <div class="page-title-container">
                <div class="page-title" ng-bind="DICT('Traffic_Classes')"></div>
                <div class="page-button-container">
                    <button type="button" ng-disabled="tcform.$invalid || userAccessFlag === 'RO'" class="btn-apply" ng-if="currPage === 'edit'" ng-click="funs.save('edit')">
                        <span ng-bind="DICT('Traffic_Classes_Apply')"></span></button>
                    <button type="button" ng-click="funs.save('main')" class="btn-apply" ng-if="currPage === 'main'" ng-disabled="userAccessFlag === 'RO'">
                        <span ng-bind="DICT('Traffic_Classes_Apply')"></span></button>
                    <button type="button" class="btn-cancel" ng-click="funs.cancel('main')">
                        <span ng-bind="DICT('Traffic_Classes_Cancel')"></span></button>
                </div>
            </div>
            <confirmsave ng-show="success"></confirmsave>
            <div ng-include="relativeWebPage[currPage]"></div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="traffic_classes_main.htm">
    <div class="page-content-container">
        <div class="grid-cntr">
            <div class="grid-title-cntr">
                <div class="grid-title" ng-bind="DICT('Traffic_Classes_Table')"></div>
            </div>
            <div class="grid-content-cntr">
                <div class="grid-btn-cntr">
                    <button type="button" class="grid-btn-add" ng-disabled="userAccessFlag === 'RO'" ng-click="funs.addClass()">
                    <button type="button" class="grid-btn-edit" ng-click="funs.editClass()" ng-disabled="classIndex<0 || is_default() || userAccessFlag === 'RO'">
                    <button type="button" class="grid-btn-delete" ng-click="funs.delClass()" ng-disabled="classIndex<0 || check_traffic() || userAccessFlag === 'RO'">
                </div>
                <div class="grid-content" ui-grid-resize-columns ui-grid-auto-resize ui-grid="gridTrafficClassesOptions"/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="traffic_classes_edit.htm">
    <div class="page-content-container">
        <table class="page-block-tb-list">
            <tr>
                <td style="width: 150px" ng-bind="DICT('Traffic_Classes_Class_Name')"></td>
                <td>
                    <input type="text"
                        style="width: 300px"
                        ng-model="edit.name"
						name="cname"
						ng-change="checkConnName()"
                        maxlength="64"
                        ng-disabled="edit.in_use"
                        uci-name required/>
					<span class="validation-error-text-right" ng-if="tcform.cname.$error.repeat_name" ng-bind="DICT('Traffic_Classes_Class_Name_Repeat')">
					</span>
					<span class="validation-error-text-right" ng-if="tcform.cname.$error.required && tcform.cname.$dirty" ng-bind="DICT('Traffic_Classes_Input_Class_Name')">
					</span>
                </td>
            </tr>
            <tr>
                <td ng-bind="DICT('Traffic_Classes_Description')+':'"></td>
                <td>
                    <input type="text" style="width: 300px"
                    maxlength="64" ng-model="edit.description" str-name ng-disabled="edit.in_use"/>
                </td>
            </tr>
            <tr>
                <td ng-bind="DICT('Traffic_Classes_Inuse')"></td>
                <td ng-bind="edit.displayInUse"></td>
            </tr>
        </table>
        <br>
        <ng-form name="serviceform">
            <div class="grid-cntr ng-cloak">
                <div class="grid-title-cntr">
                    <div class="grid-title" ng-bind="DICT('Traffic_Classes_Service_Table')"></div>
                </div>
                <div class="grid-content-cntr">
                    <div class="grid-btn-cntr">
                        <button type="button" class="grid-btn-add" ng-disabled="edit.rule.length >= 10" ng-click="funs.addRule()">
                        <button type="button" class="grid-btn-edit" ng-click="funs.editRule()" ng-disabled="ui_data.selected_rules.length === 0">
                        <button type="button" class="grid-btn-delete" ng-click="funs.delRule()" ng-disabled="ui_data.selected_rules.length === 0">
                    </div>
                    <div class="grid-content" ui-grid-resize-columns ui-grid-auto-resize ui-grid="gridTrafficServiceOptions"/>
                </div>
            </div>
        </ng-form>
        <div class="page-note-cntr">
            <table class="page-note-tb-list">
                <tr>
                    <td class="bold page-note-tb-title-left" ng-bind="DICT('Traffic_Classes_Note')"></td>
                    <td ng-bind="DICT('Traffic_Classes_Source_Destination')"></td>
                </tr>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="traffic_classes_service_ip_mask.html">
<div class="ui-grid-custom-cntr">
	<div>
		<div ng-if="!row.entity[col.colDef.editRow]">
			<div ng-show="row.entity.version.select === 'unknown'" title="-">-</div>
			<div ng-show="row.entity.version.select !== 'unknown'">
				<div ng-bind="MODEL_COL_FIELD[row.entity.version.select].ip" pgtitle></div>
			</div>
		</div>
		<div ng-if="row.entity[col.colDef.editRow]">
			<input type="text"
				ng-show="!row.entity.edit"
				ng-model="MODEL_COL_FIELD[row.entity.version.select].ip"
				ng-disabled="true"
			></input>
			<input type="text" ng-if="row.entity.version.select === 'unknown' && row.entity.edit === true" ng-disabled="true"></input>
			<input type="text"
				ng-if="row.entity.version.select === 'ipv4' && row.entity.edit === true"
				ng-ipv4-ip="row.entity.version.select === 'ipv4' && row.entity.edit === true"
				ng-required="row.entity.version.select === 'ipv4' && row.entity.edit === true"
				extansion-or-reg="^0.0.0.0$"
				ng-model="MODEL_COL_FIELD[row.entity.version.select].ip"
				placeholder="{{MODEL_COL_FIELD[row.entity.version.select].desc_ip}}">
			</input>
			<input type="text"
				ng-if="row.entity.version.select === 'ipv6' && row.entity.edit === true"
				ng-required="row.entity.version.select === 'ipv6' && row.entity.edit === true"
				ng-ipv6-ip="row.entity.version.select === 'ipv6' && row.entity.edit === true"
				ng-model="MODEL_COL_FIELD[row.entity.version.select].ip"
				placeholder="{{MODEL_COL_FIELD[row.entity.version.select].desc_ip}}">
			</input>
		</div>
	</div>
    <div  class="grid-second-list">
		<div ng-if="!row.entity[col.colDef.editRow]">
			<div ng-show="row.entity.version.select === 'unknown'" title="-">-</div>
			<div ng-show="row.entity.version.select !== 'unknown'">
				<div ng-bind="MODEL_COL_FIELD[row.entity.version.select].mask" pgtitle></div>
			</div>
		</div>
		<div ng-if="row.entity[col.colDef.editRow]">
			<input type="text"
				ng-show="row.entity.edit === false"
				ng-model="MODEL_COL_FIELD[row.entity.version.select].mask"
				ng-disabled="true"
			 ></input>
			<input type="text" ng-if="row.entity.version.select === 'unknown' && row.entity.edit === true" ng-disabled="true"></input>
			<input type="text"
				ng-if="row.entity.version.select === 'ipv4' && row.entity.edit === true"
				ng-ipv4-netmask="row.entity.version.select === 'ipv4' && row.entity.edit === true"
				ng-required="row.entity.version.select === 'ipv4' && row.entity.edit === true"
				extansion-or-reg="^0.0.0.0$"
				ng-model="MODEL_COL_FIELD[row.entity.version.select].mask"
				placeholder="{{MODEL_COL_FIELD[row.entity.version.select].desc_mask}}">
			</input>
			<input type="number"
				ng-if="row.entity.version.select === 'ipv6' && row.entity.edit === true"
				ng-required="row.entity.version.select === 'ipv6' && row.entity.edit === true"
				ng-model="MODEL_COL_FIELD[row.entity.version.select].mask"
				min="0"
				max="128"
				placeholder="{{MODEL_COL_FIELD[row.entity.version.select].desc_mask}}">
			</input>
		</div>
	</div>
</div>
</script>

<script type="text/ng-template" id="traffic_classes_service_service_app.html">
<div class="ui-grid-custom-cntr" ng-if="!row.entity[col.colDef.editRow]">
	<div ng-bind="MODEL_COL_FIELD.str" class="wrap" title="{{MODEL_COL_FIELD.str}}"></div>
</div>
<div class="ui-grid-custom-cntr" ng-class="{nopHint: !row.entity[col.colDef.editRow]}" ng-if="row.entity[col.colDef.editRow]">
    <div>
        <input type="radio"
            ng-disabled="!MODEL_COL_FIELD.service_list || !MODEL_COL_FIELD.service_list.length"
            ng-model="MODEL_COL_FIELD.type"
            ng-change="col.colDef.changed && col.colDef.changed(row)"
            style="margin-left: 8px;" 
            value="service">
        </input>
        <span ng-class="{nopHint: MODEL_COL_FIELD.type !== 'service'}">
            <select
                class="service-list"
                ng-init="MODEL_COL_FIELD.service_style=grid.appScope.getServiceStyle(MODEL_COL_FIELD.service_select)"
                ng-style="MODEL_COL_FIELD.service_style"
                style="margin-left: 0px;" 
                ng-change="MODEL_COL_FIELD.service_style=grid.appScope.getServiceStyle(MODEL_COL_FIELD.service_select)"
                ng-model="MODEL_COL_FIELD.service_select"
                ng-options="m.id as m.displayName for m in MODEL_COL_FIELD.service_list">
            </select>
            <input type="number" number
                style="width:65px"
                min="1"
                max="65535"
                ng-hide="MODEL_COL_FIELD.service_select !== '$tcp' && MODEL_COL_FIELD.service_select !== '$udp'"
                ng-required="MODEL_COL_FIELD.type === 'service' && (MODEL_COL_FIELD.service_select === '$tcp' || MODEL_COL_FIELD.service_select === '$udp')"
                placeholder="Start Port"
                ng-model="MODEL_COL_FIELD.start_port">
            </input>
            <input type="number" number
                style="width:65px"
                min="1"
                max="65535"
                ng-hide="MODEL_COL_FIELD.service_select !== '$tcp' && MODEL_COL_FIELD.service_select !== '$udp'"
                ng-required="MODEL_COL_FIELD.type === 'service' && (MODEL_COL_FIELD.service_select === '$tcp' || MODEL_COL_FIELD.service_select === '$udp')"
                placeholder="End Port"
                ng-model="MODEL_COL_FIELD.end_port">
            </input>
            <input type="number"
                style="width:65px"
                ng-hide="MODEL_COL_FIELD.service_select !== '$tcpAny' && MODEL_COL_FIELD.service_select !== '$udpAny'"
                ng-disabled="true"
                ng-model="MODEL_COL_FIELD.start_port_any">
            </input>
            <input type="number" number
                style="width:65px"
                ng-hide="MODEL_COL_FIELD.service_select !== '$tcpAny' && MODEL_COL_FIELD.service_select !== '$udpAny'"
                ng-disabled="true"
                ng-model="MODEL_COL_FIELD.end_port_any">
            </input>
        </span>
    </div>
    <div ng-if="grid.appScope.avcAvailable === false" class="grid-second-list">
        <input type="radio" 
			title="The Application Service selection drop-down list is grey out until user enable Application Control function on Security/Application Control page."
            ng-disabled="grid.appScope.avcAvailable === false"
            ng-model="MODEL_COL_FIELD.type"
            ng-change="col.colDef.changed && col.colDef.changed(row)"
            style="margin-left: 8px;"
            value="application">
        </input>
		<span>
			<select title="The Application Service selection drop-down list is grey out until user enable Application Control function on Security/Application Control page."
				style="margin-left: 0px;max-width: 65px;">
				<option disabled selected><span ng-bind="grid.appScope.DICT('Traffic_Classes_Any')"></span></option>
			</select>
			<select title="The Application Service selection drop-down list is grey out until user enable Application Control function on Security/Application Control page."
				style="max-width: 65px;">
				<option disabled selected><span ng-bind="grid.appScope.DICT('Traffic_Classes_Any')"></span></option>
			</select>
			<select title="The Application Service selection drop-down list is grey out until user enable Application Control function on Security/Application Control page."
				style="max-width: 65px;">
				<option disabled selected><span ng-bind="grid.appScope.DICT('Traffic_Classes_Any')"></span></option>
			</select>
		</span>
    </div>
    <div ng-if="grid.appScope.avcAvailable === true" class="grid-second-list">
        <input type="radio"
            ng-disabled="grid.appScope.avcAvailable === false"
            ng-model="MODEL_COL_FIELD.type"
            ng-change="col.colDef.changed && col.colDef.changed(row)"
            style="margin-left: 8px;"
            value="application">
        </input>
		<span>
			<select
				ng-class="{nopHint: MODEL_COL_FIELD.type !== 'application'}"
				ng-disabled="MODEL_COL_FIELD.type !== 'application'"
				style="margin-left: 0px;max-width: 65px;"
				ng-model="MODEL_COL_FIELD.app_category"
				ng-change="grid.appScope.prepareApp(row.entity)"
				ng-options="m.id as m.displayName for m in grid.appScope.model.categories">
			</select>
			<select
				ng-class="{nopHint: MODEL_COL_FIELD.type !== 'application'}"
				ng-disabled="MODEL_COL_FIELD.type !== 'application'"
				style="max-width: 65px;"
				ng-change="grid.appScope.prepareBehavior(row.entity)"
				ng-model="MODEL_COL_FIELD.app_name"
				ng-options="m.id as m.displayName for m in MODEL_COL_FIELD.apps">
			</select>
			<select
				ng-class="{nopHint: MODEL_COL_FIELD.type !== 'application'}"
				ng-disabled="MODEL_COL_FIELD.type !== 'application'"
				style="max-width: 65px;"
				ng-model="MODEL_COL_FIELD.app_behaviour"
				ng-options="m.id as m.displayName for m in MODEL_COL_FIELD.behaviours">
			</select>
		</span>
    </div>
</div>
<script>
