<form name="form" ng-controller="static_nat_main" novalidate ng-modification="dataReady">
<div ng-if="dataReady">
    <div class="page-title-container">
	    <div class="page-title" ng-bind="DICT('Static_NAT')"></div>
        <div class="page-button-container">
            <button id="btn_staticnat_save" class="btn-apply" ng-click="save()" ng-disabled="ctx.keyInvalid || form.$invalid || userAccessFlag === 'RO'">
                <span ng-bind="DICT('apply')"></span>
            </button>
            <button id="btn_staticnat_cancel" class="btn-cancel" ng-click="cancel()">
                <span ng-bind="DICT('cancel')"></span>
            </button>
        </div>
    </div>
	<confirmsave class="ng-hide" ng-show="success"></confirmsave>
	<div class="page-content-container container-fluid ng-hide" ng-show="true">
		<div>

			<div>
				<br />
				<div class="grid-cntr">
                    <div class="grid-title-cntr">
					    <div class="grid-title" ng-bind="DICT('Static_NAT_Table')"></div>
                    </div>
                    <div class="grid-content-cntr">
                        <div class="grid-btn-cntr">
                            <button id="btn_staticnat_table_add" ng-disabled="form.$invalid || userAccessFlag === 'RO'" class="grid-btn-add"
                                ng-click="add()"></button>
                            <button id="btn_staticnat_table_edit" ng-disabled="gridSNAT.Selections.length === 0 || userAccessFlag === 'RO'" class="grid-btn-edit"
                                ng-click="edit()"></button>
                            <button id="btn_staticnat_table_delete" ng-disabled="gridSNAT.Selections.length === 0 || userAccessFlag === 'RO'" ng-click="del()" class="grid-btn-delete"></button>
                            <button id="btn_staticnat_table_servicemanagement" ng-disabled="userAccessFlag === 'RO'" ng-click="jumpToServcieManagement()">
                                <span ng-bind="DICT('Static_NAT_Service_Management')"></span>
                            </button>
                        </div>
                        <div class="grid-content" ui-grid-auto-resize ui-grid-resize-columns ui-grid="gridSNAT.Options"/>
                    </div>
				</div>
				
			</div>
			<br/>
			<br/>
		</div>
	</div>
</div>
</form>
